html 
  font-size: 10px

body 
  font-family: 'Roboto', sans-serif
  background: white
  margin: 0


section 
  padding: 6rem 0 7rem 0

.title 
  font-size: 3.6rem
  font-weight: 300 
  line-height: 3.8rem
  color: $black

  position: relative
  display: inline-block

  margin-bottom: 6rem

  &::after 
    content: ''
    display: block
    height: .1rem
    width: 185%
    background: $blue
    position: absolute
    bottom: -2.5rem
    left: -50%
    z-index: 1

.button
  background: $blue
  padding: 2.5rem 5rem

  font-family: 'Roboto', sans-serif 
  font-size: 1.6rem
  font-weight: 500
  color: white
  line-height: 0.9rem   

  border: none
  border-radius: 3rem
 
  width: 100%
  max-width: 23.5rem

    
